<div class="table-container">
  <table>
    <caption class="sr-only">Lesson fees by package and lesson length</caption>
    <thead>
      <tr>
        <th scope="col">Package</th>
        <th scope="col">30 min</th>
        <th scope="col">45 min</th>
        <th scope="col">60 min</th>
        <th scope="col">45 min (G7+)</th>
        <th scope="col">60 min (G7+)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 lesson</td>
        <td>$60</td>
        <td>$82</td>
        <td>$110</td>
        <td>$93</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>5 lessons</td>
        <td>$55</td>
        <td>$75</td>
        <td>$102</td>
        <td>$86</td>
        <td>$118</td>
      </tr>
      <tr>
        <td>10 lessons</td>
        <td>$50</td>
        <td>$68</td>
        <td>$95</td>
        <td>$80</td>
        <td>$110</td>
      </tr>
    </tbody>
  </table>
</div>
<p class="disclaimer">Prices are per lesson. Diploma-level fees are discussed individually. GST is not applicable.</p>
