<div class="table-container">
  <table>
    <caption class="sr-only">Lesson fees by package and lesson length</caption>
    <thead>
      <tr>
        <th scope="col">Package</th>
        <th scope="col">30 min</th>
        <th scope="col">45 min</th>
        <th scope="col">60 min</th>
        <th scope="col">60 min (G8+)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 lesson</td>
        <td>$63</td>
        <td>$85</td>
        <td>$115</td>
        <td>$130</td>
      </tr>
      <tr>
        <td>5 lessons</td>
        <td>$56</td>
        <td>$78</td>
        <td>$105</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>10 lessons</td>
        <td>$52</td>
        <td>$70</td>
        <td>$98</td>
        <td>$112</td>
      </tr>
    </tbody>
  </table>
</div>
<p class="disclaimer">Prices are per lesson. Diploma-level fees are discussed individually. GST is not applicable.</p>
